<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <title>Customer Report</title>
</head>
<body>
<% include common/navbar_clerk.ejs %>
<h1>Customer Report</h1>
<p>The list of customers and reservations with tools for the last month</p>
<hr>
<div class="container">
    <table  cellspacing="0" width="100%" class="table">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>View Profile</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Total# Reservations</th>
            <th>Total# Tools Rented</th>

        </tr>
        </thead>
        <tbody >
        <% results.forEach(function (results) {  %>
        <tr>
            <td><%= results.CustomerID%></td>
            <td><a href="/ViewProfile/<%= results.CustomerID%>"
                   onclick="window.open('/ViewProfile/<%= results.CustomerID%>',
                           'Customer Profile',
                           'width=300,height=250');
                           return false;">
                    show profile</a>
            </td>
            <td><%= results.first_name%></td>
            <td><%= results.middle_name%></td>
            <td><%= results.last_name%></td>
            <td><%= results.email%></td>
            <td><%= results.Phone%></td>
            <td><%= results.total_reservation %></td>
            <td><%= results.total_tools_rented%></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <hr>
    <button><a href="/_report">Back TO Report Menu</a></button>
    <a href="/customer_report">Reload Results</a>
</div>
</body>
</html>
