<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
<% include common/navbar_clerk.ejs %>
<h1>Drop off Reservation</h1>
<hr>
<div class="container">
<h2>final receipt</h2>

<li>Drop off Clerk:<%= results[0].drop_off_clerk_name %> </li>
<li>Customer Name:<%= results[0].customer_name %> </li>
<li>Credit Card:<%= results[0].card_number %> </li>
<li>Start Date:<%= new Date(results[0].start_date).toISOString().slice(0, 10) %> </li>
<li>End Date:<%= new Date(results[0].end_date).toISOString().slice(0, 10) %> </li>

    <hr>

<table id="available_tool" class="display" cellspacing="0" width="100%" class="table" >
    <thead>
    <th>Tool ID</th>
    <th>Tool Name</th>
    <th>Deposit Price</th>
    <th>Rental Price</th>

    </thead>
    <tbody>

    <%  var total_rental =0;
    var total_deposit = 0;
    results.forEach(function (results) {
        total_rental += results.rental_price;
        total_deposit += results.deposit_price;
    })%>
    <% for (var i = 0; i < results.length; i++) { %>
        <tr>
            <td> <%=results[i].ToolID %></td>
            <td><a href="/tool/<%= results[i].ToolID%>/<%= results[i].sub_type%>" onclick="window.open('/tool/<%= results[i].ToolID%>/<%= results[i].sub_type%>',
                        'Tool Detail',
                        'width=300,height=250');
                        return false;">
                    <%= results[i].shortDes%></a>
            </td>
            <td>  <%=results[i].deposit_price.toFixed(2)%> </td>
            <td> <%=results[i].rental_price.toFixed(2)%> </td>
        </tr>
    <%}%>
    </tbody>
    <tfoot>
    <tr>
        <td>Total </td>
        <td>      </td>
        <td> <%= total_deposit.toFixed(2) %> </td>
        <td> <%= total_rental.toFixed(2)%>  </td>
    </tr>
    </tfoot>


</table>


<h2>Signatures </h2>

<div>
    <p1>____________________________________  </p1>

    <p5>Drop off Clerk-<%= results[0].drop_off_clerk_name%> </p5>
    <p1>____________________________________  </p1>
    <p5>Date </p5>
</div>

<div>
    <p1>_____________________________________</p1>
    <p5>Customer-<%= results[0].customer_name%> </p5>
    <p1>____________________________________  </p1>
    <p5>Date </p5>

</div>



<button id = 'print' class="btn-success" onClick="window.print()">Print Contract </button>

</div>
</body>
</html>