<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>

<body>
<script>
    // add/ remove check box method
    $(document).ready(function() {
        $('body').on('click', '#available_tool tbody tr td input.checkbox', function () {
            if (document.getElementById('tool_added_to_reservation').rows.length < 11) {
                $('#available_tool').add
                {
                    var row = $(this).closest('tr').clone();
                    $('#tool_added_to_reservation tbody').append(row);
                    $(this).closest('tr').remove();
                }

            }
            else {
                alert('less than 10!!!!!!');
                $('#available_tool').add.func = null;
            }

        });

        $('body').on('click', '#tool_added_to_reservation tbody tr td input.checkbox', function () {
            //if ($(this).attr('checked')) {
            var row = $(this).closest('tr').clone();
            $('#available_tool tbody').append(row);
            $(this).closest('tr').remove();
            //}
        });
    });

</script>
<% include common/navbar_customer.ejs %>
<h1> Make Reservation </h1>
<hr>
<script type="text/javascript">
    // dropdown menu method


    $(document).ready(function() {
        var list_all = [{name:"All",value:""}]

        var listA = [{name: "Manual", value: "manual"}];
        var list_hand_sub_type = [{name:"All",value:""},{name: "Screwdriver", value: "screwdriver"}, {
            name: "Ratchet",
            value: "ratchet"
        },
            {name: "Plier", value: "plier"}, {name: "Hammer", value: "hammer"}, {name: "Gun", value: "gun"}, {
                name: "Socket",
                value: "socket"
            }, {name: "Wrench", value: "wrench"}];
        var list_hand_sub_type1 = [{name: "Screwdriver", value: "screwdriver"}, {
            name: "Ratchet",
            value: "ratchet"
        },
            {name: "Plier", value: "plier"}, {name: "Hammer", value: "hammer"}, {name: "Gun", value: "gun"}, {
                name: "Socket",
                value: "socket"
            }, {name: "Wrench", value: "wrench"}];
        var list_garden_sub_type = [{name:"All",value:""},{name: "Striking", value: "striking"}, {
            name: "Wheelbarrows",
            value: "wheelbarrows"
        },
            {name: "Rakes", value: "rakes"}, {name: "Pruner", value: "pruner"}, {
                name: "Digger",
                value: "digger"
            }];
        var list_garden_sub_type1 = [{name: "Striking", value: "striking"}, {
            name: "Wheelbarrows",
            value: "wheelbarrows"
        },
            {name: "Rakes", value: "rakes"}, {name: "Pruner", value: "pruner"}, {
                name: "Digger",
                value: "digger"
            }];
        var list_ladder_sub_type = [{name:"All",value:""},{name: "Straight", value: "straight"}, {name: "Step", value: "step"}];
        var list_ladder_sub_type1 = [{name: "Straight", value: "straight"}, {name: "Step", value: "step"}];

        var list_power1 = [{name: "Electric", value: "A/C"}, {name: "Cordless", value: "D/C"}, {name: "Gas", value: "gas"}]
        var list_power = list_all.concat(list_power1)
        var list_power_tool_sub_type = [{name:"All",value:""},{name: "Drill", value: "drill"}, {
            name: "Saw",
            value: "saw"
        }, {name: "Sander", value: "sander"}, {name: "Air-Compressor", value: "AirCompressor"}, {
            name: "Mixer", value: "mixer"
        }, {name: "Generator", value: "generator"}];

        var list_ac_tool = [{name:"All",value:""},{name: "Drill", value: "drill"}, {name: "Saw", value: "saw"}, {
            name: "Sander",
            value: "sander"
        },
            {name: "Air-Compressor", value: "AirCompressor"}, {name: "Mixer", value: "mixer"}]
        var list_dc_tool = [{name:"All",value:""},{name: "Drill", value: "drill"}, {name: "Saw", value: "saw"}, {
            name: "Sander",
            value: "sander"
        }];
        var list_gas_tool = [{name:"All",value:""},{name: "Air-Compressor", value: "AirCompressor"}, {
            name: "Mixer",
            value: "mixer"
        }, {name: "Generator", value: "generator"}];

        var list_all_tool_sub_type = list_power_tool_sub_type.concat(list_garden_sub_type1.concat(list_hand_sub_type1.concat(list_ladder_sub_type1)));
        var list_all_power_source = list_all.concat(listA.concat(list_power1));


        $("input[name='tool_type']").on('change', function () {
            if ($(this).is(':checked') && $(this).val() === 'hand tool') {
                $('#power_source').empty();
                $('#sub_type').empty();
                $.each(listA, function (index, value) {
                    $('#power_source').append('<option value="' + value.value + '">' + value.name + '</option>');
                });
                $.each(list_hand_sub_type, function (index, value) {
                    $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                }).change();
            }
            else if ($(this).is(':checked') && $(this).val() === 'garden tool') {
                $('#power_source').empty();
                $('#sub_type').empty();
                $.each(listA, function (index, value) {
                    $('#power_source').append('<option value="' + value.value + '">' + value.name + '</option>');
                });
                $.each(list_garden_sub_type, function (index, value) {
                    $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                }).change();
            }
            else if ($(this).is(':checked') && $(this).val() === 'ladder') {
                $('#power_source').empty();
                $('#sub_type').empty();
                $.each(listA, function (index, value) {
                    $('#power_source').append('<option value="' + value.value + '">' + value.name + '</option>');
                });
                $.each(list_ladder_sub_type, function (index, value) {
                    $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                }).change();
            }
            else if ($(this).is(':checked') && $(this).val() === 'power tool') {
                $('#power_source').empty();
                $('#sub_type').empty();
                $.each(list_power, function (index, value) {
                    $('#power_source').append('<option value="' + value.value + '">' + value.name + '</option>');
                });

                $.each(list_power_tool_sub_type, function (index, value) {
                    $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                }).change();
            }
            else ($(this).is(':checked') && $(this).val() === '')
            {   var list_all_manual_tool = list_ladder_sub_type.concat(list_garden_sub_type.concat(list_hand_sub_type));
                $('#power_source').empty();
                $('#sub_type').empty();
                $.each(list_all_power_source, function (index, value) {
                    $('#power_source').append('<option value="' + value.value + '">' + value.name + '</option>');
                });
                $.each(list_all_tool_sub_type, function (index, value) {
                    $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                }).change();
            }
        });
        if (document.getElementById("all").value ==="" ) {
            $("#power_source").change(function () {
                if ($(this).val() === 'manual') {
                    var list_all_manual_tool = list_all.concat(list_hand_sub_type1.concat(list_garden_sub_type1.concat(list_ladder_sub_type1)));
                    $('#sub_type').empty();
                    $.each(list_all_manual_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();

                } else if ($(this).val() === 'A/C') {
                    $('#sub_type').empty();
                    $.each(list_ac_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();
                } else if ($(this).val() === 'D/C') {
                    $('#sub_type').empty();
                    $.each(list_dc_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();
                } else if ($(this).val() === 'gas')
                {
                    $('#sub_type').empty()
                    $.each(list_gas_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();

                }else if ($(this).val() === ""){
                    $('#sub_type').empty()
                    $.each(list_all_tool_sub_type, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();
                }

            });
        }

        if (document.getElementById("power_tool").value ==="power tool" ){
            $("#power_source").change(function () {
                if ($(this).val() === 'A/C') {
                    $('#sub_type').empty();
                    $.each(list_ac_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();
                } else if ($(this).val() === 'D/C') {
                    $('#sub_type').empty();
                    $.each(list_dc_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();
                } else ($(this).val() === 'gas')
                {
                    $('#sub_type').empty()
                    $.each(list_gas_tool, function (index, value) {
                        $('#sub_type').append('<option value="' + value.value + '">' + value.name + '</option>');
                    }).change();

                }
            });
        }


    });

</script>


<script>
    $(document).ready(function(){
        var selected_val1 = localStorage.getItem("_start_date");
        var selected_val2 = localStorage.getItem("_end_date");
        $("#start_date").val(selected_val1);//This would set the value from local-storage as selected value
        $("#end_date").val(selected_val2);

        $("#start_date").change(function(){
            var selected_start_date =  $("#start_date").val();
            localStorage.setItem("_start_date", selected_start_date);//Setting the selected value in localstorage
            // $(this).closest('form').trigger('submit');
        });
        $("#end_date").change(function(){
            var selected_end_date =  $("#end_date").val();
            localStorage.setItem("_end_date", selected_end_date);//Setting the selected value in localstorage
            // $(this).closest('form').trigger('submit');
        });


        $("#end_date").change(function () {
            var startDate = document.getElementById("start_date").value;
            var endDate = document.getElementById("end_date").value;
            var today = new Date().value;

            if (Date.parse(endDate) <= Date.parse(startDate) || startDate === "") {
                alert("End date should be greater than Start date");
                document.getElementById("end_date").value = "";
            }
        });
        $("#start_date").change(function () {
            var startDate = document.getElementById("start_date").value;
            var today = new Date();
            if (Date.parse(startDate) < today){
                alert("invalid start date");
                document.getElementById("start_date").value = "";
            }

        });

    });



</script>
<script>



</script>

<div class="container">

<form action = "/makeReservation" id = "check_tool" name = "check_tool" method ="post"  >

    <div>
        <b>Start Date</b><input type="date" name="start_date" id = "start_date" required >
        <b>End Date</b><input type="date" name="end_date" id = "end_date" required >
        <b> Custom Search </b><input type ='text' name = "custom_search", id ="custom_search">
        <button id = "search" name = "search" class="btn-success">Search</button>
    </div>
    <div class="row">
        <label class="col-lg-1"><b>Type</b></label>
        <div id = "radio" >
            <b>All Tool</b><input type="radio" id = "all" value ="" name="tool_type" >
            <b>Hand Tool</b><input type="radio" id ="hand_tool" value ="hand tool" name="tool_type">
            <b>Garden Tool</b><input type="radio" id = "garden_tool" value="garden tool" name="tool_type">
            <b>Ladder</b> <input type="radio" id = "ladder" value="ladder" name ="tool_type">
            <b>Power Tool</b> <input type="radio" id = "power" value="power tool" name="tool_type">
        </div>
        <label><b>Sub-Type</b></label>
        <select input id="sub_type" name="sub_type" ></select>
        <label><b>Power Source</b></label>
        <select input id="power_source" name="power_source" ></select>
    </div>
</form>

    <hr>

<div>
    <h2>Available Tools</h2>

    <table id="available_tool" class="display" cellspacing="0" width="100%" class="table">
        <thead>
        <th>Tool ID</th>
        <th>Description</th>
        <th>Rental Price</th>
        <th>Deposit Price</th>
        <th>add</th>
        </thead>
        <tbody>
        <% results.forEach(function (results) { %>

        <tr>
            <td> <%=results.ToolID %></td>
            <td><a href="/tool/<%= results.ToolID%>/<%= results.sub_type%>" onclick="window.open('/tool/<%= results.ToolID%>/<%= results.sub_type%>',
                        'Tool Detail',
                        'width=300,height=250');
                        return false;">
                    <%= results.shortDes%></a>
            </td>
            <td>  <%=results.rental_price.toFixed(2)%> </td>
            <td> <%=results.deposit_price.toFixed(2)%> </td>
            <td><input type="checkbox" name="checked" value="<%=results.ToolID%>"  class="checkbox"></td>
        </tr>
        <% }); %>


        </tbody>

    </table>
</div>

    <hr>
<form   id="calculate total" >
    <div>
        <h2>Tools Added to Reservation</h2>
        <table  id="tool_added_to_reservation" name class="display" cellspacing="0" width="100%" class="table">
            <thead>
            <td>Tool ID</td>
            <td>Description</td>
            <td>Rental Price</td>
            <td>Deposit Price</td>
            <td> Remove </td>
            </thead>

            <tbody>

            </tbody>

        </table>
        <hr>
        <button type="submit" id = "calculate_total" class="btn-success">Calculate Total</button>

    </div>
</form>

<script>

    //html object to js array
    var tableToObj = function (table) {
        var tableArr = [];
        for ( var i = 1; i < table.rows.length; i++ ) {
            tableArr.push({
                tool_id: table.rows[i].cells[0].innerHTML,
                short_description: table.rows[i].cells[1].innerHTML,
                rental_price: table.rows[i].cells[2].innerHTML,
                deposit_price: table.rows[i].cells[3].innerHTML
            });
        }
        return tableArr;
    }


    // local storage method
    $('#calculate_total').on('click',function () {
        // check added tools
        var l =  document.getElementById('tool_added_to_reservation').rows.length;
        if (l === 1){
            alert("please select tools!!!");
            window.open('/makeReservation');
        }else {
            //html object to json
            var start_date = JSON.stringify(document.getElementById("start_date").value);
            var end_date = JSON.stringify(document.getElementById("end_date").value);
            var ttl = tableToObj(document.getElementById('tool_added_to_reservation'));
            var table = JSON.stringify(ttl)
            localStorage.setItem('_table', table);
            localStorage.setItem('_start_date', start_date);
            localStorage.setItem('_end_date', end_date)
            //alert(start_date)
            window.open('/reservation_summary');

        }

    });

</script>
</div>

</body>
</html>




