<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

</head>
<body>
<% include common/navbar_customer.ejs %>
<div class="container">
    <h1>Customer Info</h1>
    <p>E-mail: <%= result1[0].email%></p>
    <p>Full Name: <%= result1[0].full_name%></p>
    <p><%= result1[0].phone_type%>: <%= result1[0].phone%></p>
    <%for (var i = 0; i < result2.length; i++) {%>
    <p><%= result2[i].phone_type%>: <%= result2[i].phone%></p>
    <%}%>
    <p>Address: <%= result1[0].address%></p>
</div>

<hr>

<div class="container">
    <h1>Reservations</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Reservation ID</th>
            <th scope="col">Tools</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Pick-up Clerk</th>
            <th scope="col">Drop-off Clerk</th>
            <th scope="col">Number of Days</th>
            <th scope="col">Total Deposit Price</th>
            <th scope="col">Total Rental Price</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < result3.length; i++) { %>
        <tr scope="row">
            <td><%=result3[i].reservationID%></td>
            <td>
                <ul>
                    <%for (var j = 0; j < result4.length; j++) {%>
                    <% if (result3[i].reservationID === result4[j].reservationID){%>
                    <li><%=result4[j].shortDes%></li>
                    <%}%>
                    <%}%>
                </ul>
            </td>
            <td><%= result3[i].start_date%></td>
            <td><%= result3[i].end_date%></td>
            <td><%=result3[i].pick_clerk%></td>
            <td><%=result3[i].drop_clerk%></td>
            <td><%=result3[i].number_of_days%></td>
            <td><%=result3[i].total_deposit%></td>
            <td><%=result3[i].total_rental%></td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>



</body>
</html>